[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "==6.2"
django = "==4.0.1"
psycopg2-binary = "*"
Pillow = "==9.0.1"
django-simple-history = "*"
factory-boy = "==3.2.1"
faker = "==12.0.0"

[dev-packages]
pylint = "*"
black = "*"
autopep8 = "*"
django-extensions = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
