<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
      <form method='POST'>
        {% csrf_token %}
        <div class="form-group">
          {% if parent_comment is not None %}
            <input type="number" class="form-control" id="id_parent_comment_id" name="parent_comment_id" value={{parent_comment.id}} hidden="true"></input>
          {% endif %}
          <textarea class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content"
            name="content" rows="4">{{ form.content.value|default:'' }}</textarea>
        </div>
        <button class="btn btn-primary ml-2" type="submit">Leave a comment</button>
      </form>
    </div>
</div>